{% extends "base.html" %}

{% block contenido %}
<Section id="AcercaDe">
    <header class="text-center py-5">
        <h1 class="display-5 fw-bold">Acerca de OnlyFlans</h1>
        <p>En OnlyFlans, la dulzura cobra vida con postres artesanales y auténticos. Cada flan es una obra maestra,
            creado con amor y los mejores ingredientes. Desde sabores clásicos hasta innovadores, ofrecemos delicias
            para todos los gustos. Bienvenidos al paraíso del flan, donde cada bocado es pura felicidad.</p>
    </header>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3" style="width: 100%; background-color: #ffffff;border: 0;">
                <div class="card-head py-3 display-5"><i class="fa-solid fa-camera"></i></div>
                <div class="card-body">
                    <h5 class="card-title pb-3 fw-bold fs-4">Captura la experiencia</h5>
                    <p class="card-text fw-regular">En OnlyFlans, capturamos la experiencia del placer en cada
                        cucharada. Nuestro compromiso es brindarte flanes que despierten tus sentidos, envolviéndote en
                        un viaje de sabores y texturas inolvidables. Descubre la esencia de la dulzura y déjate llevar
                        por el encanto de nuestros postres. Bienvenido a la experiencia única de OnlyFlans.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3" style="width: 100%; background-color: #ffffff;border: 0;">
                <div class="card-head py-3 display-5"><i class="fa-solid fa-bullhorn"></i></div>
                <div class="card-body">
                    <h5 class="card-title pb-3 fw-bold fs-4">Crítica Culinaria</h5>
                    <p class="card-text fw-regular">OnlyFlans es el lugar donde el flan alcanza la perfección. Con una
                        textura suave y sedosa, cada postre es un testimonio del arte culinario. Los sabores
                        tradicionales están equilibrados con maestría, mientras que las opciones innovadoras ofrecen un
                        toque moderno. Es un festín para los amantes de los postres. Sin duda, un destino obligatorio
                        para endulzar tu día.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center mb-3" style="width: 100%; background-color: #ffffff;border: 0;">
                <div class="card-head py-3 display-5"><i class="fa-regular fa-map"></i></div>
                <div class="card-body">
                    <h5 class="card-title pb-3 fw-bold fs-4">Sabores del mundo</h5>
                    <p class="card-text fw-regular">En OnlyFlans, los sabores del mundo se encuentran en cada postre.
                        Desde el clásico flan de vainilla hasta fusiones exóticas como té matcha y coco tailandés,
                        nuestro menú es un pasaporte culinario. Cada receta refleja tradición y creatividad,
                        transportándote a diferentes culturas con cada bocado. Ven y disfruta del sabor global en cada
                        deliciosa porción.</p>
                </div>
            </div>
        </div>
    </div>
</Section>
{% endblock%}