{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<section id="usuarios">
    <div class="border border-info-subtle rounded-3" style="max-width: 1280px;">
        <h2>Lista de Usuarios</h2>
        <div id="table-responsive" style="max-width:100%;max-height: 700px;overflow-y: auto;">
            <table class="table table-sm align-middle" style="max-width: 100%;">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre de usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Staff</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% if usuario.is_staff %}
                            <img src="{% static 'img/staff.png' %}" class="rounded float-start" width=50px>
                            {% else %}
                            <img src="{% static 'img/Ratatouille_2.png' %}" class="rounded float-start" width=50px>
                            {% endif %}
                        </td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>
                        <td>
                            {% if usuario.is_staff %}
                            <p class="fs-3 text-center"><i class="fa-regular fa-circle-check"></i></p>
                            {% else %}
                            <p class="fs-3 text-center"><i class="fa-regular fa-circle-xmark"></i></p>
                            {% endif %}
                        </td>
                        <td>
                            {% if usuario.is_active %}
                            <p class="fs-3 text-center"><i class="fa-regular fa-circle-check"></i></p>
                            {% else %}
                            <p class="fs-3 text-center"><i class="fa-regular fa-circle-xmark"></i></p>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{% url 'NuevoUsuario' %}"><button type="button" class="btn btn-outline-dark btn-lg m-2">Nuevo Usuario</button></a>
    </div>
</section>
{% endblock %}