{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section class="mt-2" id="Menu" style="background-color: rgb(74, 209, 243); color: #ffffff;">

    <h1 class="display-5 fw-bold text-center py-5">Nuestros Sabores</h1>
    <div style="max-width:100%;max-height: 700px;overflow-y: auto;">
        <div class="row">
            {% csrf_token %}
            {% for producto in productos %}
            <div class="col-12 col-md-6 col-lg-4 pb-5">
                <div class="card" style="max-width: 18rem;">
                    <img src="{{ producto.imagen.url }}" class="card-img-top" height="200px" alt="...">
                    <div class="card-body me-0 ms-0">
                        <h5 class="card-title fw-bold py-2">
                            {% if producto.liviano == False %}
                            <i class="fa-solid fa-cookie"></i> - {{ producto.nombre }}
                            {% else %}
                            <i class="fa-solid fa-carrot"></i> - {{ producto.nombre }}
                            {% endif %}
                        </h5>
                        <p class="card-text-justify"></p>
                        <a href="{% url 'detalle' producto.id_producto %}">
                            <button type="button" class="btn btn-outline-primary"
                                style="border-color: rgb(74, 209, 243); color:#0F0F0F; width: 99px;height: 40px; margin-right: 23px;">Ver
                                más</button>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h2 class="fw-bold text-center py-5">No se han encontrado productos.</h2>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}